.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 66.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 6.608334em;
}
.stl_ie .stl_06 {
	height: 66.08334em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Times New Roman";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.107422em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"KKTMMN+Times-Bold";
	src:url("c46baa29-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.858333em;
	font-family: "KKTMMN+Times-Bold";
	color: #000000;
}
.stl_11 {
	line-height: 1em;
}
.stl_12 {
	letter-spacing: -0.1282em;
}

.stl_ie .stl_12 {
	letter-spacing: -1.7602px;
}
.stl_13 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0023px;
}
.stl_14 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_14 {
	letter-spacing: -0.0009px;
}
.stl_15 {
	letter-spacing: -0.0157em;
}

.stl_ie .stl_15 {
	letter-spacing: -0.2155px;
}
.stl_16 {
	letter-spacing: -0.0026em;
}

.stl_ie .stl_16 {
	letter-spacing: -0.0361px;
}
@font-face {
	font-family:"TWPTUP+Helvetica";
	src:url("58a58084-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.708333em;
	font-family: "TWPTUP+Helvetica";
	color: #000000;
}
.stl_18 {
	line-height: 0.999023em;
}
.stl_19 {
	letter-spacing: -0.001em;
}

.stl_ie .stl_19 {
	letter-spacing: -0.0111px;
}
@font-face {
	font-family:"LOJQKF+ArialMT";
	src:url("3d7bf301-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 1.166667em;
	font-family: "LOJQKF+ArialMT";
	color: #301367;
}
.stl_21 {
	line-height: 1.115723em;
}
.stl_22 {
	letter-spacing: -0.0442em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.8242px;
}
@font-face {
	font-family:"PAHIJN+CenturyGothic-Bold";
	src:url("52a808c3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.6em;
	font-family: "PAHIJN+CenturyGothic-Bold";
	color: #000000;
}
.stl_24 {
	line-height: 1.225098em;
}
.stl_25 {
	font-size: 0.833333em;
	font-family: "PAHIJN+CenturyGothic-Bold";
	color: #000000;
}
.stl_26 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_26 {
	letter-spacing: 0.0011px;
}
.stl_27 {
	font-size: 0.833333em;
	font-family: "KKTMMN+Times-Bold";
	color: #000000;
}
@font-face {
	font-family:"ILCCKC+Times-Bold";
	src:url("f135b754-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.833333em;
	font-family: "ILCCKC+Times-Bold", "Times New Roman";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.006em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.08px;
}
.stl_30 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_30 {
	letter-spacing: 0.002px;
}
@font-face {
	font-family:"DGMKTR+Times-Roman";
	src:url("f191e5a7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.833333em;
	font-family: "DGMKTR+Times-Roman";
	color: #000000;
}
.stl_32 {
	font-size: 0.791667em;
	font-family: "DGMKTR+Times-Roman";
	color: #000000;
}
@font-face {
	font-family:"GFOAVI+Times-Roman";
	src:url("eb74c5e6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.833333em;
	font-family: "GFOAVI+Times-Roman", "Times New Roman";
	color: #000000;
}
.stl_34 {
	letter-spacing: -0.0908em;
}

.stl_ie .stl_34 {
	letter-spacing: -1.2112px;
}
.stl_35 {
	letter-spacing: -0.0698em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.9312px;
}
@font-face {
	font-family:"WFDHHV+Helvetica-Bold";
	src:url("9cb2ce46-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 0.708333em;
	font-family: "WFDHHV+Helvetica-Bold", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"IPFUIS+ArialNarrow-Bold";
	src:url("7f2a9cf5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.55em;
	font-family: "IPFUIS+ArialNarrow-Bold", "Times New Roman";
	color: #000000;
}
.stl_38 {
	line-height: 1.145996em;
}
.stl_39 {
	font-size: 0.583333em;
	font-family: "LOJQKF+ArialMT";
	color: #000000;
}
.stl_40 {
	letter-spacing: -0.0051em;
}

.stl_ie .stl_40 {
	letter-spacing: -0.0477px;
}
.stl_41 {
	letter-spacing: -0.1158em;
}

.stl_ie .stl_41 {
	letter-spacing: -1.0812px;
}
.stl_42 {
	letter-spacing: -0.0052em;
}

.stl_ie .stl_42 {
	letter-spacing: -0.0481px;
}
.stl_43 {
	font-size: 0.666667em;
	font-family: "WFDHHV+Helvetica-Bold", "Times New Roman";
	color: #000000;
}
.stl_44 {
	font-size: 0.666667em;
	font-family: "TWPTUP+Helvetica";
	color: #000000;
}
@font-face {
	font-family:"NJSIDJ+Helvetica-Oblique";
	src:url("562ea3ac-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 0.666667em;
	font-family: "NJSIDJ+Helvetica-Oblique";
	color: #000000;
}
.stl_46 {
	letter-spacing: -0.0121em;
}

.stl_ie .stl_46 {
	letter-spacing: -0.1291px;
}
