@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Anz.LMJ.BLO.ContentObjects.About_Page
<style>

    /* Style the CKEditor element to look like a textfield */
    .cke_textarea_inline {
        padding: 10px;
        height: 200px;
        overflow: auto;
        border: 1px solid gray;
        -webkit-appearance: textfield;
    }
    .title {
        font-size: 20px;
        font-weight: bold;
    }
    input {
        width: 50%;
    }

</style>
<div id="main" role="main">
    <div id="ribbon" style="display: block;">
        <ol class="breadcrumb">
            <li>Home</li>
            <li>@ViewBag.Title</li>
        </ol>
    </div>
    <div id="content">
        <!-- row -->
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @using (Html.BeginForm("AboutPage", "Admin", FormMethod.Post, new { @class = "AboutPage", enctype = "multipart/form-data" }))
                {
                    <div class="well well-sm">
                        <!-- Timeline Content -->
                        <div class="smart-timeline">
                            <ul class="smart-timeline-list">

                                <li>

                                    <div class="smart-timeline-content">
                                        <p class="title">
                                            Title

                                        </p>
                                        <p>
                                            <input class="input__beautify" type="text" name="Title" value="@Model.Title" required />

                                        </p>

                                    </div>
                                </li>
                                <li>

                                    <div class="smart-timeline-content">
                                        <p class="title">
                                           Text

                                        </p>
                                        <p>
                                            <textarea name="Txt" style="display:none" id="txteditorvalue">@Model.Txt</textarea>
                                            <textarea style="height: 200px" name="txtAboutEditor"></textarea>

                                        </p>

                                    </div>
                                </li>

                                <li>
                                    <div class="smart-timeline-content">
                                        <p>
                                            <a href="javascript:void(0);"><strong>ObjImgOne</strong></a>
                                        </p>

                                        <ul class="list-inline">
                                            <li>
                                                <input type="hidden" name="Img" id="BackGroundImage" value="@Model.Img" />
                                                <img src="~/Images/@Model.Img" alt="img" width="150" id="blah">
                                                <br />
                                                <input type="file" name="PostedFileImg" id="imgInp" class="custom-file-input" style="width:150px; required">

                                            </li>
                                        </ul>
                                    </div>
                                </li>



                                <li class="text-center">
                                    <button type="submit" class="btn btn-sm btn-primary"> Publish </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

            </div>

        </div>

    </div>

</div>


<script src="~/Scripts/cms/plugin/ckeditor/ckeditor.js"></script>
<script>

    var bodyEditor;

   

    function SetContents() {
        // Get the editor instance that we want to interact with.
        var editor = CKEDITOR.instances.txtAboutEditor;
        // Set editor contents (replace current contents).
        // http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-setData
        editor.setData($("#txteditorvalue").text());
    }

    function GetContents() {
        // Get the editor instance that you want to interact with.
        var editor = CKEDITOR.instances.txtAboutEditor;
        // Get editor contents
        // http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-getData
        $("#txteditorvalue").html(editor.getData());
    }

    $(document).ready(function () {
        //alert($("#txteditorvalue").html());
        //$("#txtEditor").Editor();
        bodyEditor=CKEDITOR.replace('txtAboutEditor');
        SetContents();

        // Handle when the Source changes.
        bodyEditor.on('mode', function () {
            if (this.mode == 'source') {
                var editable = bodyEditor.editable();
                editable.attachListener(editable, 'input', function () {
                    GetContents()
                });
            }
        });

        // Handle when the HTML changes.
        bodyEditor.on('change', function () {
            GetContents()
        });
    });


    GetContents()
    $(".aboutuspage").addClass("active");
    $(".Sentence").html($("input[name=Sentence]").val());
    $(".SubTitle").html($("input[name=SubTitle]").val());
    $(".Title").html($("input[name=Title]").val());

</script>
