<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
     <add name="LMJEntities" connectionString="metadata=res://*/Model.LMJModel.csdl|res://*/Model.LMJModel.ssdl|res://*/Model.LMJModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5PO1PTO\SQL;initial catalog=LMJ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>