
@{
    ViewBag.Title = "MainMenu";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
<div id="main" role="main">
    <div id="content">
        <section id="widget-grid" class="">
            <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">

                    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2>New Submission</h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body no-padding">
                                <br />
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">
                                                    <a id="btn-datatable" href="/Submission/index"><strong>New Manuiscript</strong></a> 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">
                                                    <strong>Submission send and back to author</strong>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">
                                                    <strong>Incomplete</strong>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">
                                                    <strong>Submission waiting for author approved</strong>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">
                                                    <strong>Submission being in process</strong>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
