
@using Anz.LMJ.BLO.LogicObjects.Submission;
@* Metadata *@
<style>
    .data-container label {
        text-align: right;
    }
    </style>
<div class="tab-pane" id="tab3">
    <br />
    <br />
    <br />
    <div class="data-container">
        <div class="row">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-12 control-label"><strong>Prefix</strong></label>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <input class="form-control input-md" placeholder="Prefix" name="Prefix" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label class="col-sm-12 control-label"><strong>Title</strong></label>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <textarea class="form-control" name="Title" style="width:100%;"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="col-sm-12 control-label"><strong>Short Title</strong></label>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        <input class="form-control input-md" placeholder="Sub Title" name="SubTitle" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="col-sm-12 control-label"><strong>Cover Photo</strong></label>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        <input class="form-control input-md" placeholder="Cover Photo" name="CoverPhoto" type="file">
                    </div>
                </div>
            </div>
            </div>

            <section id="widget-grid" class="Info">
           
                <div class="row">
                    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
                        <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2>Info</h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <br /><br />
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">
                                                        <strong>Sources of Funding</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="SourcesOfFunding" style="width:100%;"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">
                                                        <strong>Conflicts Of Interests</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="ConflictsOfInterests" style="width:100%;"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">
                                                        <strong>Significance</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="Significance" style="width:100%;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">
                                                        <strong>Comments</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="CommentsForEditor" style="width:100%;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">
                                                        <strong>Mini Description</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="MiniDescription" style="width:100%;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">
                                                        <strong>Abstract</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="AbstractText" style="width:100%;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
                        <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
                            <header>
                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                <h2>Keywords</h2>
                            </header>
                            <div>
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <br /><br />
                                    <fieldset>
                                        <div id="keywords_container">
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-5 col-lg-3">
                                                    <div class="form-group">
                                                        <label class="col-sm-12 control-label">
                                                            <strong>Keywords</strong><span><i id="add_keywords" style="color:#AD0202" class="fa fa-plus fa-1x fa-fw"></i></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-7 col-sm-4 col-md-6 col-lg-4">
                                                    <div class="form-group">
                                                        <input class="form-control input-md Keywords" placeholder="Keywords" type="text" name="Keywords" id="Keywords">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
   