@using Anz.LMJ.BLO.LogicObjects.Submission;
<style>
   
</style>
<div class="tab-pane" id="tab5">
    <br />
    <br />
    <br />

    <div class="additional-container">
       
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-12 control-label">
                        <strong>Condition of Submission</strong>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-5 col-md-5 col-lg-8">
                <div class="form-group">
                    <input class="col-sm-2" type="checkbox" name="isConfirmed" value="">
                    <p>I confirm that all co-authers agree with above</p>
                </div>
            </div>
        </div>
    </div>
    </div>