

@{
                /**/

                Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}





    <div class="section">
        <section class="columns">
            <div class="column col-title">
                <span> Participants:</span>
            </div>
            <div class="column">
                <span><i class="fa-fw fa fa-circle-o"></i>parrrrrr</span>
            </div>
        </section>
    </div>
    <div class="section">
        <section class="columns">
            <div class="column col-title">
                <span> Subject:subbbb</span>
            </div>
        </section>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <ul class="timeline">
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <div class="timeline-section">

                        <section class="columns">
                            <div class="column col-sub-title">
                                <span> From: name </span>
                            </div>
                        </section>
                    </div>

                    <div class="timeline-section">
                        <section class="columns">
                            <div class="column col-sub-title">
                                <span> Date: sentdate </span>
                            </div>
                        </section>
                    </div>
                    <div class="timeline-section">
                        <section class="columns">
                            <div class="column col-sub-title">
                                <span> Body: message </span>
                            </div>
                        </section>
                    </div>
                    <div class="timeline-section">
                        <section class="columns">
                            <div class="column col-sub-title">
                                <span> Attach: <i class="fa-fw fa fa-paperclip"></i><a onclick="OpenFile('file')">i</a></span>
                            </div>
                        </section>
                    </div>
                </li>
            </ul>
        </div>
    </div>