.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 66.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 6.608334em;
}
.stl_ie .stl_06 {
	height: 66.08334em;
}
.stl_07 {
	font-size: 0.666667em;
	font-family: "Times New Roman";
	color: #FF0064;
}
.stl_08 {
	line-height: 1.107422em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"HITRQS+Helvetica";
	src:url("c164820e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.083333em;
	font-family: "HITRQS+Helvetica";
	color: #FFFFFF;
}
.stl_11 {
	line-height: 1.156em;
}
.stl_12 {
	letter-spacing: 0.017em;
}

.stl_ie .stl_12 {
	letter-spacing: 0.2953px;
}
.stl_13 {
	-o-transform: scale(1,1.030928);
	-webkit-transform: scale(1,1.030928);
	-moz-transform: scale(1,1.030928);
	transform: scale(1,1.030928);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.030928,0,-0);
	-ms-transform-origin: top left;
}
@font-face {
	font-family:"AAOFIB+Times-Bold";
	src:url("813dab63-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 0.97em;
	font-family: "AAOFIB+Times-Bold";
	color: #000000;
}
.stl_15 {
	line-height: 1.703468em;
}
.stl_16 {
	letter-spacing: -0.0063em;
}

.stl_ie .stl_16 {
	letter-spacing: -0.0984px;
}
.stl_17 {
	font-size: 0.708333em;
	font-family: "HITRQS+Helvetica";
	color: #000000;
}
.stl_18 {
	letter-spacing: 0.0003em;
}

.stl_ie .stl_18 {
	letter-spacing: 0.0035px;
}
.stl_19 {
	font-size: 0.458333em;
	font-family: "AAOFIB+Times-Bold";
	color: #000000;
}
@font-face {
	font-family:"SAMLUP+Helvetica-Bold";
	src:url("c8f58f15-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.541667em;
	font-family: "SAMLUP+Helvetica-Bold";
	color: #000000;
}
.stl_21 {
	line-height: 1.19em;
}
@font-face {
	font-family:"GAAABI+Times-Roman";
	src:url("e04c3ef1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.833333em;
	font-family: "GAAABI+Times-Roman";
	color: #000000;
}
.stl_23 {
	line-height: 1.701026em;
}
.stl_24 {
	letter-spacing: -0.0003em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.0037px;
}
.stl_25 {
	letter-spacing: -0.1105em;
}

.stl_ie .stl_25 {
	letter-spacing: -1.4736px;
}
.stl_26 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0019px;
}
.stl_27 {
	letter-spacing: -0.0071em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0952px;
}
.stl_28 {
	letter-spacing: -0.1115em;
}

.stl_ie .stl_28 {
	letter-spacing: -1.487px;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "GAAABI+Times-Roman";
	color: #000000;
}
.stl_30 {
	letter-spacing: -0.0302em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.3622px;
}
.stl_31 {
	letter-spacing: -0.0273em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.3271px;
}
.stl_32 {
	letter-spacing: 0.116em;
}

.stl_ie .stl_32 {
	letter-spacing: 1.3924px;
}
.stl_33 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.0029px;
}
.stl_34 {
	letter-spacing: -0.0102em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.1224px;
}
.stl_35 {
	letter-spacing: -0.007em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.084px;
}
.stl_36 {
	letter-spacing: 0.112em;
}

.stl_ie .stl_36 {
	letter-spacing: 1.3444px;
}
.stl_37 {
	font-size: 0.708333em;
	font-family: "SAMLUP+Helvetica-Bold";
	color: #000000;
}
.stl_38 {
	letter-spacing: -0.0057em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.0648px;
}
.stl_39 {
	letter-spacing: 0.148em;
}

.stl_ie .stl_39 {
	letter-spacing: 1.6773px;
}
.stl_40 {
	letter-spacing: 0.0195em;
}

.stl_ie .stl_40 {
	letter-spacing: 0.221px;
}
.stl_41 {
	letter-spacing: 0.104em;
}

.stl_ie .stl_41 {
	letter-spacing: 1.1786px;
}
.stl_42 {
	letter-spacing: -0.0009em;
}

.stl_ie .stl_42 {
	letter-spacing: -0.0103px;
}
.stl_43 {
	font-size: 1em;
	font-family: "SAMLUP+Helvetica-Bold";
	color: #000000;
}
.stl_44 {
	letter-spacing: 0.0153em;
}

.stl_ie .stl_44 {
	letter-spacing: 0.1731px;
}
.stl_45 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_45 {
	letter-spacing: 0.0018px;
}
.stl_46 {
	letter-spacing: 0.018em;
}

.stl_ie .stl_46 {
	letter-spacing: 0.204px;
}
.stl_47 {
	letter-spacing: -0.084em;
}

.stl_ie .stl_47 {
	letter-spacing: -0.952px;
}
.stl_48 {
	letter-spacing: 0.0097em;
}

.stl_ie .stl_48 {
	letter-spacing: 0.1096px;
}
.stl_49 {
	letter-spacing: 0.0265em;
}

.stl_ie .stl_49 {
	letter-spacing: 0.3007px;
}
.stl_50 {
	letter-spacing: 0.0161em;
}

.stl_ie .stl_50 {
	letter-spacing: 0.1826px;
}
.stl_51 {
	letter-spacing: 0.026em;
}

.stl_ie .stl_51 {
	letter-spacing: 0.2947px;
}
.stl_52 {
	letter-spacing: 0.0168em;
}

.stl_ie .stl_52 {
	letter-spacing: 0.1909px;
}
.stl_53 {
	letter-spacing: 0.0148em;
}

.stl_ie .stl_53 {
	letter-spacing: 0.1679px;
}
.stl_54 {
	letter-spacing: 0.0407em;
}

.stl_ie .stl_54 {
	letter-spacing: 0.4614px;
}
.stl_55 {
	letter-spacing: 0.0271em;
}

.stl_ie .stl_55 {
	letter-spacing: 0.3067px;
}
.stl_56 {
	letter-spacing: 0.0164em;
}

.stl_ie .stl_56 {
	letter-spacing: 0.1853px;
}
.stl_57 {
	letter-spacing: -0.0029em;
}

.stl_ie .stl_57 {
	letter-spacing: -0.0326px;
}
.stl_58 {
	letter-spacing: 0.0061em;
}

.stl_ie .stl_58 {
	letter-spacing: 0.0691px;
}
.stl_59 {
	letter-spacing: 0.0142em;
}

.stl_ie .stl_59 {
	letter-spacing: 0.1606px;
}
.stl_60 {
	letter-spacing: 0.013em;
}

.stl_ie .stl_60 {
	letter-spacing: 0.1471px;
}
.stl_61 {
	letter-spacing: -0.0025em;
}

.stl_ie .stl_61 {
	letter-spacing: -0.0283px;
}
.stl_62 {
	letter-spacing: -0.0022em;
}

.stl_ie .stl_62 {
	letter-spacing: -0.0252px;
}
.stl_63 {
	letter-spacing: 0.12em;
}

.stl_ie .stl_63 {
	letter-spacing: 1.36px;
}
.stl_64 {
	letter-spacing: 0.0084em;
}

.stl_ie .stl_64 {
	letter-spacing: 0.0948px;
}
.stl_65 {
	letter-spacing: 0.0123em;
}

.stl_ie .stl_65 {
	letter-spacing: 0.1397px;
}
.stl_66 {
	letter-spacing: 0.0205em;
}

.stl_ie .stl_66 {
	letter-spacing: 0.2323px;
}
.stl_67 {
	letter-spacing: 0.027em;
}

.stl_ie .stl_67 {
	letter-spacing: 0.306px;
}
.stl_68 {
	letter-spacing: 0.0237em;
}

.stl_ie .stl_68 {
	letter-spacing: 0.2691px;
}
.stl_69 {
	letter-spacing: 0.0172em;
}

.stl_ie .stl_69 {
	letter-spacing: 0.1954px;
}
.stl_70 {
	letter-spacing: 0.0156em;
}

.stl_ie .stl_70 {
	letter-spacing: 0.1772px;
}
.stl_71 {
	letter-spacing: -0.0012em;
}

.stl_ie .stl_71 {
	letter-spacing: -0.0133px;
}
.stl_72 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_72 {
	letter-spacing: -0.0203px;
}
.stl_73 {
	letter-spacing: -0.002em;
}

.stl_ie .stl_73 {
	letter-spacing: -0.023px;
}
.stl_74 {
	letter-spacing: -0.0021em;
}

.stl_ie .stl_74 {
	letter-spacing: -0.0242px;
}
.stl_75 {
	letter-spacing: -0.0067em;
}

.stl_ie .stl_75 {
	letter-spacing: -0.0759px;
}
.stl_76 {
	letter-spacing: -0.006em;
}

.stl_ie .stl_76 {
	letter-spacing: -0.068px;
}
.stl_77 {
	letter-spacing: 0.0027em;
}

.stl_ie .stl_77 {
	letter-spacing: 0.0302px;
}
.stl_78 {
	letter-spacing: -0.0064em;
}

.stl_ie .stl_78 {
	letter-spacing: -0.0728px;
}
.stl_79 {
	letter-spacing: -0.0065em;
}

.stl_ie .stl_79 {
	letter-spacing: -0.0736px;
}
.stl_80 {
	letter-spacing: -0.0055em;
}

.stl_ie .stl_80 {
	letter-spacing: -0.0618px;
}
.stl_81 {
	letter-spacing: -0.0073em;
}

.stl_ie .stl_81 {
	letter-spacing: -0.0823px;
}
.stl_82 {
	letter-spacing: -0.0016em;
}

.stl_ie .stl_82 {
	letter-spacing: -0.0181px;
}
.stl_83 {
	letter-spacing: -0.005em;
}

.stl_ie .stl_83 {
	letter-spacing: -0.0571px;
}
.stl_84 {
	letter-spacing: -0.0054em;
}

.stl_ie .stl_84 {
	letter-spacing: -0.0616px;
}
.stl_85 {
	font-size: 0.683333em;
	font-family: "HITRQS+Helvetica";
	color: #000000;
}
.stl_86 {
	letter-spacing: -0.0099em;
}

.stl_ie .stl_86 {
	letter-spacing: -0.1078px;
}
.stl_87 {
	font-size: 0.669667em;
	font-family: "HITRQS+Helvetica";
	color: #000000;
}
.stl_88 {
	letter-spacing: -0.001em;
}

.stl_ie .stl_88 {
	letter-spacing: -0.0104px;
}
.stl_89 {
	-o-transform: scale(1,1.020408);
	-webkit-transform: scale(1,1.020408);
	-moz-transform: scale(1,1.020408);
	transform: scale(1,1.020408);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,1.020408,0,-0);
	-ms-transform-origin: top left;
}
.stl_90 {
	letter-spacing: -0.003em;
}

.stl_ie .stl_90 {
	letter-spacing: -0.0326px;
}
.stl_91 {
	letter-spacing: 0.1435em;
}

.stl_ie .stl_91 {
	letter-spacing: 1.5695px;
}
.stl_92 {
	letter-spacing: -0.0062em;
}

.stl_ie .stl_92 {
	letter-spacing: -0.0675px;
}
.stl_93 {
	letter-spacing: -0.0004em;
}

.stl_ie .stl_93 {
	letter-spacing: -0.0042px;
}
.stl_94 {
	letter-spacing: -0.0024em;
}

.stl_ie .stl_94 {
	letter-spacing: -0.0321px;
}
.stl_95 {
	font-size: 0.55em;
	font-family: "AAOFIB+Times-Bold";
	color: #000000;
}
.stl_96 {
	letter-spacing: -0.0017em;
}

.stl_ie .stl_96 {
	letter-spacing: -0.0207px;
}
.stl_97 {
	letter-spacing: -0.0921em;
}

.stl_ie .stl_97 {
	letter-spacing: -1.1057px;
}
.stl_98 {
	letter-spacing: -0.0005em;
}

.stl_ie .stl_98 {
	letter-spacing: -0.007px;
}
.stl_99 {
	letter-spacing: -0.0152em;
}

.stl_ie .stl_99 {
	letter-spacing: -0.2022px;
}
.stl_100 {
	letter-spacing: -0.0121em;
}

.stl_ie .stl_100 {
	letter-spacing: -0.161px;
}
.stl_101 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_101 {
	letter-spacing: -0.018px;
}
.stl_102 {
	font-size: 0.791667em;
	font-family: "SAMLUP+Helvetica-Bold";
	color: #000000;
}
@font-face {
	font-family:"FAJAFU+Times-Italic";
	src:url("d8ad5229-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_103 {
	font-size: 0.75em;
	font-family: "FAJAFU+Times-Italic";
	color: #000000;
}
.stl_104 {
	line-height: 1.647777em;
}
.stl_105 {
	letter-spacing: 0.133em;
}

.stl_ie .stl_105 {
	letter-spacing: 1.5955px;
}
.stl_106 {
	font-size: 0.658333em;
	font-family: "HITRQS+Helvetica";
	color: #000000;
}
.stl_107 {
	font-size: 0.49375em;
	font-family: "HITRQS+Helvetica";
	color: #000000;
}
.stl_108 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_108 {
	letter-spacing: -0.0137px;
}
.stl_109 {
	font-size: 0.666667em;
	font-family: "SAMLUP+Helvetica-Bold";
	color: #000000;
}
.stl_110 {
	font-size: 0.666667em;
	font-family: "HITRQS+Helvetica";
	color: #000000;
}
.stl_111 {
	letter-spacing: 0.0011em;
}

.stl_ie .stl_111 {
	letter-spacing: 0.0121px;
}
@font-face {
	font-family:"TOUAJP+Helvetica-Oblique";
	src:url("5b4d45f3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_112 {
	font-size: 0.666667em;
	font-family: "TOUAJP+Helvetica-Oblique";
	color: #000000;
}
.stl_113 {
	letter-spacing: -0.01em;
}

.stl_ie .stl_113 {
	letter-spacing: -0.1067px;
}
@font-face {
	font-family:"MTIBPL+ArialNarrow";
	src:url("fd0dcb2c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_114 {
	font-size: 0.833333em;
	font-family: "MTIBPL+ArialNarrow";
	color: #000000;
}
.stl_115 {
	line-height: 1.132877em;
}
.stl_116 {
	font-size: 1em;
	font-family: "HITRQS+Helvetica";
	color: #000000;
}
.stl_117 {
	letter-spacing: -0.017em;
}

.stl_ie .stl_117 {
	letter-spacing: -0.1927px;
}
.stl_118 {
	letter-spacing: -0.137em;
}

.stl_ie .stl_118 {
	letter-spacing: -1.5527px;
}
.stl_119 {
	letter-spacing: -0.0176em;
}

.stl_ie .stl_119 {
	letter-spacing: -0.1995px;
}
.stl_120 {
	letter-spacing: -0.0007em;
}

.stl_ie .stl_120 {
	letter-spacing: -0.0093px;
}
.stl_121 {
	letter-spacing: -0.0038em;
}

.stl_ie .stl_121 {
	letter-spacing: -0.0504px;
}
.stl_122 {
	letter-spacing: -0.0101em;
}

.stl_ie .stl_122 {
	letter-spacing: -0.1353px;
}
.stl_123 {
	letter-spacing: -0.0052em;
}

.stl_ie .stl_123 {
	letter-spacing: -0.0687px;
}
.stl_124 {
	font-size: 0.833333em;
	font-family: "FAJAFU+Times-Italic";
	color: #000000;
}
.stl_125 {
	letter-spacing: -0.0051em;
}

.stl_ie .stl_125 {
	letter-spacing: -0.0684px;
}
.stl_126 {
	letter-spacing: -0.0074em;
}

.stl_ie .stl_126 {
	letter-spacing: -0.0988px;
}
.stl_127 {
	letter-spacing: -0.0056em;
}

.stl_ie .stl_127 {
	letter-spacing: -0.075px;
}
.stl_128 {
	letter-spacing: -0.1114em;
}

.stl_ie .stl_128 {
	letter-spacing: -1.3371px;
}
.stl_129 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_129 {
	letter-spacing: -0.0538px;
}
.stl_130 {
	letter-spacing: -0.1345em;
}

.stl_ie .stl_130 {
	letter-spacing: -1.6143px;
}
.stl_131 {
	letter-spacing: -0.1005em;
}

.stl_ie .stl_131 {
	letter-spacing: -1.2055px;
}
.stl_132 {
	letter-spacing: -0.0069em;
}

.stl_ie .stl_132 {
	letter-spacing: -0.0832px;
}
.stl_133 {
	letter-spacing: -0.0019em;
}

.stl_ie .stl_133 {
	letter-spacing: -0.0258px;
}
.stl_134 {
	letter-spacing: 0.0012em;
}

.stl_ie .stl_134 {
	letter-spacing: 0.0126px;
}
