@using Anz.LMJ.BLO.LogicObjects.Submission
@using Anz.LMJ.BLO.LogicObjects.User;
@using Anz.LMJ.BLO.ContentObjects;



<div class="topbar">
    <div class="container border-1">
        <div class="faq-links">
            <a href="@ViewBag.contact.Twiter" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="@ViewBag.contact.Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="@ViewBag.contact.Instagram" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="@ViewBag.contact.LinkedIn" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="social-links">
            <a href="/Home/index"><i class="fa fa-question-circle"></i> Home</a>
            <a href="/Home/Articles"><i class="fa fa-question-circle"></i>Articles</a>
            @*<a href="/Home/SubmitArticles"><i class="fa fa-question-circle"></i> Submit your article</a>*@
            <a href="/Home/EditorialBoards" id="EditorialBoard"><i class="fa fa-question-circle"></i>Editorial board</a>
            <a href="/Home/About"><i class="fa fa-question-circle"></i>About Us </a>
            <a href="/Home/Contact"><i class="fa fa-question-circle"></i> Contact us</a>
        </div>
    </div>
</div>
