@using Anz.LMJ.BLO.LogicObjects.Submission
@using Anz.LMJ.BLO.LogicObjects.User;
@using Anz.LMJ.BLO.ContentObjects;

<header id="header">
    <div class="logo float-left desktop-none">
        <a href="/Home" class="scrollto"><img src="~/Content/img/LMJ-logo.jpg" alt="LMJ-LOGO" class="img-fluid img-logo"></a>
    </div>
    <div class="topbar">
        <div class="container border-1">
            <div class="faq-links">
                <a href="@ViewBag.contact.Twiter" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="@ViewBag.contact.Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="@ViewBag.contact.Instagram" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="@ViewBag.contact.LinkedIn" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="social-links">
                <a href="/Home/index" ><i class="fa fa-question-circle"></i> Home</a>
                <a href="/Home/Articles" ><i class="fa fa-question-circle"></i>Articles</a>
                @*<a href="/Home/SubmitArticles"><i class="fa fa-question-circle"></i> Submit your article</a>*@
                <a href="/Home/EditorialBoards" id="EditorialBoard"><i class="fa fa-question-circle"></i>Editorial board</a>
                <a href="/Home/About" ><i class="fa fa-question-circle"></i>About Us </a>
                <a href="/Home/Contact"><i class="fa fa-question-circle"></i> Contact us</a>
            </div>
        </div>
    </div>
    <div class="topbar">
        <div class="container border-2">
            <div class="row" style="width: 100%">
                <div class="col-md-6">
                    <a href="/Home" class="scrollto"><img src="~/Content/img/LMJ-logo.jpg" alt="LMJ-LOGO" class="img-fluid img-logo"></a>
                </div>
                <div class="col-md-4">
                    <div class="search">
                        <input type="text" class="searchTerm" value="" placeholder="Search">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-2">
                    <button data-toggle="modal" data-target="#myModalAdvancedSearch" class="btn btn-primary AdvancedSearch">Advanced search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container topbar border-3">
        <nav class="main-nav d-none d-lg-block">
            <ul>
                <li id="Home" class="active"><a href="/Home/index">Home</a></li>

                <li id="Articles"><a href="/Home/Articles">Articles</a></li>
                @*<li id="SubmitArticles"><a href="/Home/SubmitArticles">Submit your article</a></li>*@
                <li id="EditorialBoard"><a href="/Home/EditorialBoards">Editorial board</a></li>
                <li id="AboutUs"><a href="/Home/About">About Us</a></li>
                <li id="ContactUs"><a href="/Home/Contact">Contact us</a></li>
            </ul>
        </nav><!-- .main-nav -->

    </div>
    <div class="container stp-bar">
        <div class="logo float-left">
            <a href="/Home" class="scrollto"><img src="~/Content/img/LMJ-logo.jpg" alt="LMJ-LOGO" class="img-fluid img-logo"></a>
        </div>
        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li id="Home" class="active"><a href="/Home/index">Home</a></li>
                <li id="AboutUs"><a href="/Home/About">About Us</a></li>
                <li id="Articles"><a href="/Home/Articles">Articles</a></li>
                <li id="SubmitArticles"><a href="/Home/SubmitArticles">Submit your article</a></li>
                <li id="EditorialBoard"><a href="#">Editorial board</a></li>
                <li id="ContactUs"><a href="/ContactUs">Contact us</a></li>
            </ul>
        </nav>
    </div>
</header>